<h3> Event Page </h3>
<p> <%= @event.name %> </p>
<p> <%= @event.date %> </p>
<p> Created by <%= @event.creator.name %> </p>
<h3> Event Attendees </h3>
<% @event.attendees.each do |current_attendee| %>
	<p> <%= current_attendee.name %> </p>
<%end%>
